<h1>Book Issue</h1>
<div class="details">
	<dl class="dl-horizontal">
		<dt>
			<label>Book Name </label>
		</dt>
		<dd >
			{{bookName}}
		</dd>
		<dt>
			<label>Author Name </label>
		</dt>
		<dd >
			{{authorName}}
        </dd>
        <dt>
			<label>Book Branch </label>
		</dt>
		<dd>
			{{branch}}
        </dd>
        <dt>
			<label>Publication</label>
		</dt>
		<dd>
			{{publications}}
        </dd>
        <dt>
			<label>Student </label>
		</dt>
		<dd>
			{{studentName}}
        </dd>
        <dt>
			<label>Email </label>
		</dt>
		<dd>
			{{email}}
        </dd>
        <dt>
			<label>From Date </label>
		</dt>
		<dd>
			<input type='date' id="fromDate" [(ngModel)]="fromDate"> 
			

        </dd>
        <dt>
			<label>To Date </label>
		</dt>
		<dd >
			<input type='date' id="toDate" [(ngModel)]="toDate"> 
			

        </dd>		
        <dd>
			<button (click)="onSubmit()" style="width: 140px; margin-left: 100px;">Issue Book</button>			
      <button type="button" style="width: 140px; margin-left: 15px;"routerLink="/bookHome">Back</button>
        </dd>
	</dl>
</div>
