<nav class="navbar navbar-inverse navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3>Pro-Lib </h3>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li  routerLinkActive="active"><a routerLink="/bookHome">Books</a></li>
        <li  routerLinkActive="active"><a routerLink="/issuedBookHome">Issued Books</a></li>
        <li  routerLinkActive="active"><a routerLink="/studentHome">Students</a></li>
      </ul>
    </div>
  </nav>