<h1>Student Detail</h1>
<div class="details">
	<dl class="dl-horizontal">
		<dt>
			<label>Name</label>
		</dt>
		<dd id="name">
			{{name}}
		</dd>
		<dt>
			<label>Branch</label>
		</dt>
		<dd id="branch">
			{{branches}}
		</dd>
		<dt>
			<label>Gender</label>
		</dt>
		<dd id="gender" *ngIf="gender == 0">
			Female
		</dd>
		<dd id="gender" *ngIf="gender == 1">
			Male
		</dd>
		<dd id="gender" *ngIf="gender == 2">
			Gender Less
		</dd>
		<dt>
			<label>Phone Number</label>
		</dt>
		<dd id="phoneNumber">
			{{phoneNum}}
		</dd>
		<dt>
			<label>Address</label>
		</dt>
		<dd id="address">
			{{address}}
		</dd>
		<dt>
			<label>City</label>
		</dt>
		<dd id="city">
			{{city}}
		</dd>
		<dt>
			<label>Email</label>
		</dt>
		<dd id="email">
			{{email}}
		</dd>
		<dt>
			<label>Password</label>
		</dt>
		<dd id="password">
			{{password}}
		</dd>
	</dl>
	 
	  <button type="button" class="btn btn-dark btn-lg" style="margin-right: 11px;" routerLink="/studentHome">Back</button>
</div>
