<h1>Student Detail</h1>
<div class="details">
	<dl class="dl-horizontal">
		<dt>
			<label>Name</label>
		</dt>
		<dd id="name">
		</dd>
		<dt>
			<label>Branch</label>
		</dt>
		<dd id="branch">
		</dd>
		<dt>
			<label>Gender</label>
		</dt>
		<dd id="gender">
		</dd>
		<dt>
			<label>Phone Number</label>
		</dt>
		<dd id="phoneNumber">
		</dd>
		<dt>
			<label>Address</label>
		</dt>
		<dd id="address">
		</dd>
		<dt>
			<label>City</label>
		</dt>
		<dd id="city">
		</dd>
		<dt>
			<label>Email</label>
		</dt>
		<dd id="email">
		</dd>
		<dt>
			<label>Password</label>
		</dt>
		<dd id="password">
		</dd>
	</dl>
</div>
